__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.ipynb_checkpoints/
.venv/
env/

*.mat
*.rar
*.zip
CWRU-dataset-main/
CWRU-dataset-main-v3/

*.h5
*.pt
*.pth
results/
Code/  
Papers/

.DS_Store
Thumbs.db
*.log